body{
    background-image: url(./images/RocketWallpaper.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 800px 700px;
    /* width: 90%; */
    background-attachment: fixed;
    padding-top: 70px;
    background: cover;
    background-color: rgb(66, 66, 66);
}

.login{
    margin-right: 1rem;
}

.AppHeader{
    padding-top: 100px;
    width: 60vh;
    word-wrap: break-word;
}

.aboutPage {
    text-align: center;
    padding-top: 100px;
    width: 60%;
    word-wrap: break-word;
    font-family: 'Quicksand', sans-serif;
}

.aboutInfo {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.faqPage {
    text-align: left;
    padding-top: 100px;
    width: 60%;
    word-wrap: break-word;
    font-family: 'Quicksand', sans-serif;
}

.faqInfo {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.bottomBorder {
    border-bottom: 3px solid rgba(0, 0, 0, 0.50); 
    margin-top: 30px;
    margin-bottom: 30px;
}

.descriptionHome {
    font-size: 27px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.loginRegister {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.btn-brand{
    margin-right: 5px;
}

.orText {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #73818f;
    font-size: 15px;
}

.socialLogin {
    margin-bottom: 20px;
    height: 100%;
    border: 1px solid #e4e7ea;
    border-radius: 0.25em;
}

.facebookButton {
    margin-top: 20px;
    width: 100%;
}

.btn-facebook {
    height: 100%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px
}

.googleButton{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 20%;
    border-radius: 20px;
}
.fixed-top{
    max-height: 8%;
}
.ModalMap{
    width: 25rem;
    height: 30rem;
}

Button{
    margin-bottom: 5px;
}